<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log-In</title>
</head>
<body>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="username" id="username" placeholder="UserName">
      <input type="password" name="password" id="password" placeholder="PassWord">
      <button type="submit">Log-In</button>
      {% if messages %}
        {% for message in messages %}
          <h1 class="badge badge-light" style="color:red;">{{ message }}</h1>
        {% endfor %}
      {% endif %}
    </form>
</body>
</html>